i3/config
ncmpcpp/error.log
uzbl/config
i3status/config
vim/.netrwhist
nvim/.netrwhist
*.swp
local/bin/cookiecutter
local/bin/pasteurize
local/bin/futurize
vim/plugged
vim/sessions
.DS_Store
gitconfig-local
local/bin/signal
